// Example of project-name.scss
// Define variables to override default ones
$primary-color: #7ecfdf;
$secondary-color: #8f4f4f;
$link-color: #06a6f0;

$dark-color: #4b2828;

// Import full Spectre source code
@import "../node_modules/spectre.css/src/spectre";
@import "../node_modules/spectre.css/src/spectre-exp";
@import "../node_modules/spectre.css/src/spectre-icons";