<!--
File: base.html
Project: templates
Created Date: Wednesday March 24th 2021
Author: Ronan (ronan.lashermes@inria.fr)
-----
Last Modified: Thursday, 29th April 2021 9:28:14 am
Modified By: Ronan (ronan.lashermes@inria.fr>)
-----
Copyright (c) 2021 INRIA
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>SILM Seminar
  </title>
  <link rel="icon" type="image/png" href="{{ config.base_url }}/illustrations/chip.png" />
  <link rel="stylesheet" type="text/css" href="{{ config.base_url }}/spectre.css">
  <link rel="stylesheet" type="text/css" href="{{ config.base_url }}/global.css">
  <link href="{{ config.base_url }}/css/fontawesome.all.min.css" rel="stylesheet" type="text/css" >
  <script src="{{ config.base_url }}/scripts/moment-with-locales.min.js"></script>
  <script src="{{ config.base_url }}/scripts/datebook.min.js"></script>

  <script type="text/javascript">
    var locale = window.navigator.userLanguage || window.navigator.language;
    moment.locale(locale);

    const cal_uid = 'brvhd6z7br9sepnz';
  </script>

<body>

    <div class="container full-height">
        <div class="columns full-height" >
            <div class="column col-2 bg-primary text-break hide-sm box">

                <!-- <img src="{{ config.base_url }}/illustrations/SILM2.jpg" class="silm-banner img-responsive d-inline-block"> -->
                <h1 class="base-title"><a href="{{ config.base_url }}/" class="text-dark">SILM Seminar</a></h1>

                <ul class="nav text-large">
                    {% set s2 = get_section(path="season2/_index.md") %}
                    <li class="nav-item">
                      <a href="{{ s2.permalink | safe}}">{{ s2.title }}</a>
                    </li>
                    {% set s1 = get_section(path="season1/_index.md") %}
                    <li class="nav-item">
                      <a href="{{ s1.permalink | safe}}">{{ s1.title }}</a>
                    </li>
                    {% set l = get_section(path="live/_index.md") %}
                    <li class="nav-item">
                      <a href="{{ l.permalink | safe}}">{{ l.title }}</a>
                    </li>
                    {% set ab = get_section(path="about/_index.md") %}
                    <li class="nav-item">
                      <a href="{{ ab.permalink | safe}}">About</a>
                    </li>
                  </ul>

                  <div class="filler"></div>
                  
                  <div>
                    <h2>Organized by</h2>

                    <a href="https://www.inria.fr/en"><img src="{{ config.base_url }}/illustrations/logo/Inria.png" class="logo-img-bigger img-responsive d-inline-block"></a>
                    <a href="https://www.centralesupelec.fr/en"><img src="{{ config.base_url }}/illustrations/logo/CS.png" class="logo-img-bigger img-responsive d-inline-block"></a>
                    <a href="http://www.cnrs.fr/en"><img src="{{ config.base_url }}/illustrations/logo/CNRS.png" class="logo-img img-responsive d-inline-block"></a>
                  </div>

                  <div>
                    <h2>Supported by</h2>

                    <a href="https://www.defense.gouv.fr/english/dga"><img src="{{ config.base_url }}/illustrations/logo/DGA.png" class="logo-img img-responsive d-inline-block"></a>
                  </div>
            </div>
            <div class="column col-10">
                <section class="section">
                    <div class="container m-2">
                      <img src="{{ config.base_url }}/illustrations/SILM.jpg" class="silm-banner img-responsive d-inline-block">
                      {% block content %} {% endblock %}
                    </div>
                </section>
            </div>
        </div>
    </div>




    
</body>

</html>