{% extends "base.html" %}

{% block content %}
{% set s = get_section(path="season2/_index.md") %}

<!-- <h1>Security at the hardware/software interface</h1> -->

<script>
  function copyTextToClipboard(text) { //thanks StackOverflow https://stackoverflow.com/questions/400212/how-do-i-copy-to-the-clipboard-in-javascript
  var textArea = document.createElement("textarea");

  //
  // *** This styling is an extra step which is likely not required. ***
  //
  // Why is it here? To ensure:
  // 1. the element is able to have focus and selection.
  // 2. if the element was to flash render it has minimal visual impact.
  // 3. less flakyness with selection and copying which **might** occur if
  //    the textarea element is not visible.
  //
  // The likelihood is the element won't even render, not even a
  // flash, so some of these are just precautions. However in
  // Internet Explorer the element is visible whilst the popup
  // box asking the user for permission for the web page to
  // copy to the clipboard.
  //

  // Place in the top-left corner of screen regardless of scroll position.
  textArea.style.position = 'fixed';
  textArea.style.top = 0;
  textArea.style.left = 0;

  // Ensure it has a small width and height. Setting to 1px / 1em
  // doesn't work as this gives a negative w/h on some browsers.
  textArea.style.width = '2em';
  textArea.style.height = '2em';

  // We don't need padding, reducing the size if it does flash render.
  textArea.style.padding = 0;

  // Clean up any borders.
  textArea.style.border = 'none';
  textArea.style.outline = 'none';
  textArea.style.boxShadow = 'none';

  // Avoid flash of the white box if rendered for any reason.
  textArea.style.background = 'transparent';


  textArea.value = text;

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    var successful = document.execCommand('copy');
    
  } catch (err) {
    
  }

  document.body.removeChild(textArea);
}
</script>

<h2>Ongoing season: {{ s.title }}
  <button class="btn btn-error btn-sm" style="margin:10px;" onclick="copyTextToClipboard('https://silm-seminar.gitlabpages.inria.fr/{{ s.extra.season_calendar_name }}/all_talks.ics')">
    Copy link for network calendar in clipboard
  </button>

  <button class="btn btn-error btn-sm" style="margin:10px;" onclick="all_events.download('allevents.ics')">
    Add/update all talks in calendar (ics)
  </button>
</h2>



<div class="timeline">

  <script>
    var all_events = null;
  </script>
   
  {% for subsection in s.subsections | reverse %}
  {% set ep = get_section(path=subsection) %}

  <div class="timeline-item">
    <div class="timeline-left">
      <a class="timeline-icon icon-lg" href="{{ ep.permalink | safe }}" id='{{ ep.title ~ "-a" | slugify }}'>
        <i id='{{ ep.title ~ "-icon" | slugify }}' class="icon"></i>
        <!-- icon-check -->
        <script type="text/javascript">
          var now = new Date();
          var nowdate = new Date(now.toDateString())
          var episode_datetime = new Date('{{ ep.extra.date }}');
          var episode_date = new Date(episode_datetime.toDateString())
          var old_ep = nowdate.getTime() > episode_date.getTime()
          var today_ep = nowdate.getTime() === episode_date.getTime()

          

          if (today_ep) {
            document.getElementById('{{ ep.title ~ "-icon" | slugify }}').classList.add('icon-time');
            document.getElementById('{{ ep.title ~ "-a" | slugify }}').classList.add('bg-success');
          }
          else if(old_ep) {
            document.getElementById('{{ ep.title ~ "-icon" | slugify }}').classList.add('icon-time');
            document.getElementById('{{ ep.title ~ "-a" | slugify }}').classList.add('bg-error');
          }
          else {
            document.getElementById('{{ ep.title ~ "-icon" | slugify }}').classList.add('icon-check');
          }
        </script>
      </a>


    </div>
    <div class="timeline-content">
      <div class="tile tile-centered">
        <div class="tile-content text-break">
          <a href="{{ ep.permalink | safe }}">
            <p class="tile-title">{{ ep.title }}: 
              <script type="text/javascript">
                var episode_datetime = new Date('{{ ep.extra.date }}')
                var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                document.write(episode_datetime.toLocaleDateString(undefined, options))
              </script>
            </p>
          </a>
          {% for page in ep.pages | reverse %}
          <!-- <a href="{{ ep.permalink | safe }}/#{{ page.extra.speaker_name | slugify }}"> -->
            <div class="tile-subtitle mt-2 ml-2"><a href="{{ ep.permalink | safe }}#{{ page.extra.speaker_name | slugify }}"><b>{{ page.extra.speaker_name }}</b> ({{ page.extra.speaker_institution }}): <u> {{ page.title }} </u> - 

              <script type="text/javascript">
                var episode_date = moment('{{ page.date }}')
                var default_location = `Online: streamed at https://silm-seminar.gitlabpages.inria.fr/live/ or on our BigBlueButton instance https://bbb.irisa.fr/b/las-nqt-ko4-txv with access code 200835`
                document.write("<b>" + episode_date.format('LT') + "</b>")


                var {{ page.extra.speaker_name | slugify | replace(from='-', to='_') }} = new datebook.ICalendar({ // the javascript variable is built with the static engine (zola)
                    title: '{{ page.title }} - {{ page.extra.speaker_name }}',
                    {% if ep.extra.location %}
                    location: `{{ ep.extra.location | safe }}`,
                    {% else %}
                    location: default_location,
                    {% endif %}
                    description: `{{ page.content | safe | striptags }}`,
                    start: episode_date.toDate(),
                    {% if page.extra.duration %}
                    end: episode_date.add({{ page.extra.duration }}, 'minutes').toDate(),
                    {% else %}
                    end: episode_date.add(60, 'minutes').toDate(),
                    {% endif %}
                  })

                  if(!old_ep) {
                    
                    var alarm = {
                      action: 'DISPLAY',
                      trigger: {
                        minutes: 5
                      }
                    }
                    
                    {{ page.extra.speaker_name | slugify | replace(from='-', to='_') }}.addAlarm(alarm)
                  }

 
                  {{ page.extra.speaker_name | slugify | replace(from='-', to='_') }}.addProperty('SEQUENCE', 1);// may need to be updated for the email clients
                  {{ page.extra.speaker_name | slugify | replace(from='-', to='_') }}.addProperty('UID', '{{ page.extra.speaker_name | slugify }}');
                  {{ page.extra.speaker_name | slugify | replace(from='-', to='_') }}.setMeta('METHOD', 'REQUEST');

                  if (all_events == null) {
                    all_events = {{ page.extra.speaker_name | slugify | replace(from='-', to='_') }};
                  }
                  else {
                    all_events.addEvent({{ page.extra.speaker_name | slugify | replace(from='-', to='_') }});
                  }
              </script>
              </a>
              -
              <button class="btn btn-primary btn-sm" onclick="{{ page.extra.speaker_name | slugify | replace(from='-', to='_') }}.download()">
                Add talk to calendar
              </button>
            </div>
          <!-- </a> -->
          
              
          {% endfor %}
          
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}