{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>


<!-- <h2>Livestorm</h2>
The next episode, Friday June 11th, will take place on Livestorm, please register on <a href="https://app.livestorm.co/inria-14/seminaire-silm?type=detailed"><span class="explicit-link">https://app.livestorm.co/inria-14/seminaire-silm?type=detailed</span></a>.
<br>If you have trouble registering (when the talks have already started), send an email to <a href="mailto:nathalie.lacaux@inria.fr"><span class="explicit-link">nathalie.lacaux@inria.fr</span></a>. -->
<h2>Live stream</h2>


Due to a technical reason, there will be no live today. Please connect to the BigBlueButton server (info below).
<!-- <div class="container">
  <div class="columns" >
    <div class="column col-1">
    </div>

    <div class="column col-6">
      <video id=example-video width=600 height=300 class="video-js vjs-default-skin live" controls></video>
      <script src="{{ config.base_url }}/scripts/video.min.js"></script>
      <link rel="stylesheet" href="{{ config.base_url }}/css/video-js.min.css">

    
      <script src="{{ config.base_url }}/scripts/dash.all.min.js"></script>


      <script src="{{ config.base_url }}/scripts/videojs-dash.min.js"></script>

      <script>
          var player = videojs('example-video');

          player.ready(function() {
          player.src({
              src: 'https://qlf-silm.irisa.fr/hls/live.m3u8',
              type: 'application/x-mpegURL'
          });

          });
      </script>
    </div>
  </div>
</div> -->

<h2>BigBlueButton</h2>

Alternatively, you can connect to our BigBlueButton instance: 
<a href="https://bbb.irisa.fr/b/las-nqt-ko4-txv"><span class="explicit-link">https://bbb.irisa.fr/b/las-nqt-ko4-txv</span></a>, with access code <b>200835</b>.
<u>Questions can only be asked when connected to the BigBlueButton server.</u>

{% endblock content %}